.App {
  font-family: 'Roboto Mono', monospace;
  background-color: #dbdbdb;
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dadadf;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: #262d3f !important;
}

a:hover i {
  color: #262d3f;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #cc0404;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #262d3f;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #262d3f;
}
*::-webkit-scrollbar-thumb:hover {
  background: #cc0404;
}